.container {
    width: 90%;
    height: 90vh;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}

.inputBtn {
    position: relative;
    top: 88%;
}

.input {
    width: 95%;
}

button {
    width: 63px;
}

li {
    list-style-type: none;
}